<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cart">
  <test name="Test">
    <classes>
        <class name="com.flipkart.TestNG_TC.Browser"/>
         <class name="com.flipkart.TestNG_TC.Login"/>
      <class name="com.flipkart.TestNG_TC.SelectingProduct"/>
      <class name="com.flipkart.TestNG_TC.AddingToCart"/>
      <class name="com.flipkart.TestNG_TC.RemovingProductFromCart"/>
      <class name="com.flipkart.TestNG_TC.Logout"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Cart -->
